<div class="container-fluid">
  <app-sidebar></app-sidebar>

  <div class="main-container">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div><b>Agreement for</b> property #1</div>
          <div>Purchaser: James</div>
          <div>Vendor: JSquared</div>
          <div>Last updated: 14/11/2017</div>
          <div>Status: PROPOSAL</div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-timeline></app-timeline>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
