<div class="card-body">
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="fa fa-times"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Agreement Started</h4>
          <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago</small>
          </p>
        </div>
        <div class="timeline-body">
          <p>Purchase Price: $50000 </p>
          <p>Deposit Price : $850</p>
          <p>GST Included: Yes</p>
          <p>Condition: No pets</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="fa fa-times"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Counter Offer</h4>
        </div>
        <div class="timeline-body">
          <p>Purchase Price: 45000 </p>
          <p>Deposit Price : $850</p>
          <p>GST Included: Yes</p>
          <p>Condition: Keep a parrot</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="fa fa-question"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Counter Offer</h4>
        </div>
        <div class="timeline-body">
          <p>Purchase Price: 50000 </p>
          <p>Deposit Price : $850</p>
          <p>GST Included: Yes</p>
          <p>Condition: Keep a parrot</p>
          <hr />
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-success">Agree</button>
            <button type="button" class="btn btn-outline-danger">Counter</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
